<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Properties>
        <!-- Папка логов -->
        <Property name="LOG_DIR">logs</Property>

        <!-- Текущий активный лог -->
        <Property name="LOG_FILE">hippodrome.log</Property>
    </Properties>

    <Appenders>

        <RollingFile
                name="FileAppender"
                fileName="${LOG_DIR}/${LOG_FILE}"
                filePattern="${LOG_DIR}/hippodrome.%d{yyyy-MM-dd}.log">

            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n"/>

            <Policies>
                <!-- Ротация каждый день -->
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>

            <DefaultRolloverStrategy>

                <!-- Удалять старше 7 дней -->
                <Delete basePath="${LOG_DIR}" maxDepth="1">
                    <IfFileName glob="hippodrom.*.log"/>
                    <IfLastModified age="7d"/>
                </Delete>

            </DefaultRolloverStrategy>

        </RollingFile>

    </Appenders>

    <Loggers>

        <Root level="debug">
            <AppenderRef ref="FileAppender"/>
        </Root>

    </Loggers>

</Configuration>